/* static/css/main.css */
/* ESTILO GERAL - TODAS AS PÁGINAS */

body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.gifer.com/3aYu.gif');  /* Caminho da imagem desejada */
  background-size: cover; /* Ajusta a imagem para cobrir todo o corpo */
  background-repeat: no-repeat; /* Não repete a imagem */
}

h1 {
  color: #e9e5e5;
}
.container {
  max-width: 1200px; /* Defina a largura máxima desejada em pixels ou outra unidade de medida */
  margin: 0 auto; /* Centralize o conteúdo horizontalmente */
  padding: 20px; /* Adicione algum espaço em volta do conteúdo */
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.btn {
  background-color: #a4390cd8; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remover a borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Ícone de cursor de mão ao passar o mouse */
  font-size: 18px; /* Tamanho da fonte */
  text-decoration: none; /* Remover sublinhado de links */
  /* estes dois não tinha no botao pag index */
  display: inline-block; /* Tornar o botão em linha com o texto */
  margin: 10px; /* Margem externa para espaçamento */
}
.btn:hover {
  background-color: #a4390cd8; /* Cor de fundo */
  ; /* Cor de fundo ao passar o mouse */
}

/* ESTILO ESPECÍFICO - PÁGINA INDEX */
.body_pagIndex {
  text-align: center;

}
.h1_pagIndex {
  font-size: 36px;
  color: #f3e9e9;
}
.p_pagIndex {
  font-size: 18px;
  color: #f8f0f0;
}

.container-pagIndex {
  max-width: 1000px;
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 90px;
  background-color: #d69c4fb8;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  height: 50vh; /* Ocupa a altura total da janela do navegador */
}
.btn-container {
  display: flex;
  gap: 20px; /* Espaçamento entre os botões */
}


/*****************************************************/
/* ESTILO ESPECÍFICO - MENU HAMBURGUER E NAV BAR */

#main {
  margin-left: 250px;
}

/* Hamburguer */
i.menu-mobile {
  position: fixed;
  color: #fff;
  background-color: #a4390cd8;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 10;
  width: 45px;
  height: 45px;
  /* Para esconder o Hamburguer em Tela Grande */
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-nav-active {
  overflow: hidden;
}

.menu-nav-active #header {
  left: 0;
}

/* Mídia Querys */
@media (max-width: 1024px) {
  #header {
      left: -250px;
  }
  i.menu-mobile{
      display: flex;
  }
  section#inicio h1{
      font-size: 2rem;
  }
  section#inicio span#subtitle {
      margin-right: 0;
      font-size: 1rem;
  }
  #main {
      margin-left: 0;
  }
}




#headerMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f2a253;
  overflow: auto;
  width: 250px;
  transition: all ease-in-out 0.5s;
  padding: 0 10px;
  z-index: 9997;
}

#headerMenu .profile img {
  margin: 10px auto;
  display: block;
  width: 150px;
  border: 2px solid #a4390cd8;
  border-radius: 20%;
  background-color: #ddd;
}

#headerMenu .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

#headerMenu nav ul li {
  position: relative;
}

#headerMenu nav ul li a i {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 18px;
}

#headerMenu nav ul li {
  background-color: #a4390cd8;
  border: none;
  cursor: pointer;
}

#headerMenu .profile .social-links a {
  font-size: 1rem;
  background: #d69c4fb8;
  color: #a4390cd8;
  /* padding: 0.6rem; */
  padding: auto;
  margin-bottom: 25px;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
  /* centralizar no html (bootstrap) */
}

#headerMenu .profile .social-links a:hover {
  background: #fff;
}

.nav-menu {
  padding: 1.5rem;
}

/* rever */
.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: #fff;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    text-decoration: none;
    color: rgb(87, 184, 179);
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    text-decoration: none;
    color: rgb(87, 184, 179);
}

/* rever acima */


/* Cor do Botão -> #a4390cd8  */
/* Container -> #d69c4fb8 */
/* Intermediaria -> #f2a253 */





/*****************************************************/
/* ESTILO ESPECÍFICO - PÁGINA JOGO */

.body_pagJogo{
  font-size: 18px;
  color: #555;
  margin: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.p_pagJogo {
  color: #333;
  /* Não encontrei nada usando essa tag na pag jogo */
}
.game-container {
  position: relative;
}
#truck {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 220px;
  transition: 2ms;
}
.bird-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 100%;
  animation: moveBird 5s linear infinite;
}
@keyframes moveBird {
  0% {
      left: 100%;
  }
  100% {
      left: 0;
  }
}

/*****************************************************/
/* ESTILO ESPECÍFICO - PÁGINA LISTAINDEX */

.pagListaIndex {
  max-width: 90px;
  max-height: 90px;
}
/* coloquei duas classes rever */
img .img-thumbnail {
  max-width: 90px;
  max-height: 90px;
}
/*****************************************************/
/* ESTILO ESPECÍFICO - PÁGINA PERSONAGENS */

.container-pagPersonagens {
  max-width: 1000px;
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 90px;
  background-color: #d69c4fb8;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  /*height: 50vh; /* Ocupa a altura total da janela do navegador */
  overflow: hidden;

}
.container1-pagPersonagens {
  max-width: 100%;
  justify-content: center;
/* Marca o tamanho do container */
  margin-top: 20px; /* Adiciona espaçamento superior de 20 pixels */
  margin-bottom: 20px; /* Adiciona espaçamento inferior de 20 pixels */
}

.h1_pagPersonagens {
  color: #522a2a;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* justify-content: center; */
}

.ul_pagPersonagens {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.li_pagPersonagens {
  /* alterei de 20% para 30% MM */
  width: calc(
    20% - 60px
  ); /* Defina a largura para 20% - ajuste o valor conforme necessário */
  margin-right: 30px;
  margin-left: 30px;
  background-color: #f2a253;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  padding: 15px;

}

.img_pagPersonagem {
  max-width: 90px; 
  max-height: 90px;
}

#selecionado-msg {
  color: #522a2a;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
 
