<h1>CADASTRO DE PERSONAGEM</h1>
<form
  method="POST"
  enctype="multipart/form-data"
  action=""
  class="needs-validation"
  data-toggle="validator"
>
  <div class="form-group">
    <label for="nome">ID:</label>
    <input
      type="number"
      class="form-control"
      id="id"
      name="id"
      value=""
      required
    />
    <div class="invalid-feedback">Campo obrigatório.</div>
  </div>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input
      type="text"
      class="form-control"
      id="id"
      name="nome"
      value=""
      required
    />
    <div class="invalid-feedback">Campo obrigatório.</div>
  </div>
  <div class="form-group">
    <label for="nome">Classe:</label>
    <input
      type="text"
      class="form-control"
      id="classe"
      name="classe"
      value=""
      required
    />
    <div class="invalid-feedback">Campo obrigatório.</div>
  </div>
  <div class="form-group">
    <label for="nome">Vida:</label>
    <input
      type="text"
      class="form-control"
      id="vida"
      name="vida"
      value=""
      required
    />
    <div class="invalid-feedback">Campo obrigatório.</div>
  </div>
  <div class="form-group">
    <label for="nome">Ataque:</label>
    <input
      type="text"
      class="form-control"
      id="ataque"
      name="ataque"
      value=""
      required
    />
    <div class="invalid-feedback">Campo obrigatório.</div>
  </div>
  <div class="form-group">
    <label for="nome">Imagem:</label>
    <input
      type="text"
      class="form-control"
      id="imagem"
      name="imagem"
      value=""
      required
    />
    <div class="invalid-feedback">Campo obrigatório.</div>
  </div>
</form>
