{% extends 'homebar.html' %}

{% block content %}
  <div class="container mt-3">
    <h1>Lista de Itens</h1>
    <a href="{{ url_for('cadastropersonagem') }}" class="btn btn-primary">Adicionar</a>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Classe</th>
          <th>Nível</th>
          <th>Vida</th>
          <th>Ataque</th>
          <th>Imagem</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for id, personagem in dados.items() %}
        <tr>
          <td>{{ id }}</td>
          <td>{{ personagem['nome'] }}</td>
          <td>{{ personagem['classe'] }}</td>
          <td>{{ personagem['nivel'] }}</td>
          <td>{{ personagem['vida'] }}</td>
          <td>{{ personagem['ataque'] }}</td>
          <td><img style="max-width: 90px; max-height: 90px" src="{{ personagem['imagem'] }}" alt="thumbnail" class="img-thumbnail"></td>
          <td><a href="">Editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}