<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personagens</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

</head>
  <body class="body_pagPersonagens">
  <div class="background-image">  
    <div class="container1-pagPersonagens"></div>

    <div class="container-pagPersonagens">
      <h1 class="h1_pagPersonagens">Selecione o Personagem</h1>
      <ul class="ul_pagPersonagens">
        {% for id, personagem in personagens.items() %}
        <li class="li_pagPersonagens">
          <label>
            <input type="radio" name="personagem_id" value="{{ id }}" />
            <img class="img_pagPersonagem"
              src="{{ personagem.imagem }}"
              alt="{{ personagem.nome }} - Imagem do Personagem"/>
            <div class="info">
              <h2>{{ personagem.nome }}</h2>
              <p>Classe: {{ personagem.classe }}</p>
              <p>Nível: {{ personagem.nivel }}</p>
              <p>Vida: {{ personagem.vida }}</p>
              <p>Ataque: {{ personagem.ataque }}</p>
            </div>
          </label>
        </li>
        {% endfor %}
      </ul>

      <!-- Elemento para exibir a mensagem selecionada -->
      <p id="selecionado-msg"></p>
      <div class="btn-container">
        <a href="{{ url_for('home') }}" class="btn">Voltar</a>
      </div>
      <div class="btn-container">
        <a href="{{ url_for('iniciar_jogo') }}" class="btn">Começar Jogo</a>
      </div>

      <script>
        // Selecione todos os elementos de entrada de rádio
        const radioButtons = document.querySelectorAll('input[type="radio"]');

        // Adicione um ouvinte de evento para cada botão de rádio
        radioButtons.forEach((button) => {
          button.addEventListener("change", function () {
            // Quando um botão de rádio é selecionado, exiba a mensagem
            const selectedPersonagem = document.querySelector(
              'input[name="personagem_id"]:checked'
            );
            const selectedPersonagemName = selectedPersonagem
              ? selectedPersonagem.parentNode.querySelector("h2").textContent
              : null;
            const message = selectedPersonagemName
              ? `Você selecionou ${selectedPersonagemName}!`
              : "";
            document.getElementById("selecionado-msg").textContent = message;
          });
        });
      </script>

    </div>
  </div>
  </body>
</html>
